<tr>
  <td><%= event.name %></td>
  <td><%= event.live? ? 'Yes' : 'No' %></td>
  <td><%= event.private? ? event.password : 'Public' %></td>
  <td><%= link_to 'Edit', edit_admin_event_url(event) %></td>
  <td><%= link_to 'Delete', admin_event_url(event), :method => :delete, :confirm => 'Are you sure?  This will delete any photos for this event.' %></td>
  <td><%= link_to 'Upload Photos', new_admin_event_photo_upload_path(event) %></td>
</tr>