<%= content_for(:facebook_js) do %>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({appId: '125288907521593', status: true, cookie: true, xfbml: true});

      FB.Event.subscribe('auth.sessionChange', function(response) {
        if (response.session) {
          console.log('logged in');
          console.log(response);
          // A user has logged in, and a new cookie has been saved
        } else {
          // The user has logged out, and the cookie has been cleared
          console.log('failed login');
          console.log(response);
        }
      });
      

    };

    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());

  </script>

<% end %>

<div id="main-image" class="shadow">
  <div id="main-image-wrap">
    <%= image_tag @event.cover_photo.image.url(:big), 'data-photo-id' => @event.cover_photo.id %>

    <div id="fb-add">
      <%= link_to image_tag('icon_facebook_add.png', :alt => 'Add this photo to your Facebook'), '#', :class => 'facebook-expand' %>
    </div>

    <div id="fb-container" style='display:none'>
        Add photo to Facebook? &nbsp; <a href="#" id='facebook_link' class="button">Yes!</a><a href="#" class="button facebook-close">Nevermind</a>
    </div>
  </div>
</div>

<ul class="thumbs four_column">
  <% @event.photos.each do |photo| %>
    <li><%= link_to image_tag(photo.image.url(:small), :class => 'shadow'), '#', :class => 'image_link', 'data-image-url' => photo.image.url(:big), 'data-photo-id' => photo.id %></li>
  <% end %>
</ul>
<div class="clear"></div>

<% content_for(:footer) do %>
  <div id="footer-fixed">
    <div class="container_16">
      <img src="/images/footer_a.png" alt="" id="footer-a" />
      <h1><%= @event.name %></h1> <span class="date"><%= (@event.occurred_on || @event.created_at).strftime("%B %d, %Y") %></span>
      <fb:like href="<%= event_url(@event) %>" layout="button_count" width="75" style="float:right;margin:0 0 0 20px;"></fb:like>
      <%= link_to "http://twitter.com/share?url=#{CGI.escape(event_url(@event))}&via=makeascenetv&", :target => "_blank" do %>
        <img src="/images/icon_twitter.png" alt="Share this album on Twitter" />Tweet this Album
      <% end %>
    </div>
  </div>
<% end %>

<%= content_for(:meta) do %>
  <meta property="og:title" content="<%= @event.name %>" /> 
  <meta property="og:description" content="<%= @event.name %>" />
  <meta property="og:image" content="<%= @event.cover_photo.image.url(:small) %>" />
  <meta property="og:site_name" content="Make a Scene" />
<% end %>

<script>

  var lastRequestData;

  var imageSizes;

  var yes_button = $('<a>Yes!</a>').addClass('button').attr('id', 'facebook_link').attr('href', '#');
  var nevermind_button = $('<a>Nevermind</a>').addClass('button facebook-close').attr('href', '#');
    
  var postPhotoToFacebook = function(){
    var photo_id = $("#main-image-wrap img:first").attr('data-photo-id');
    var fb_container = $('#fb-container');
    
    fb_container.find('a').remove();

    var loading_link = $('<a>Posting...</a>').addClass('facebook-loading');
    fb_container.append(loading_link);

    $.post('<%= post_photo_to_facebook_event_url(@event) %>', {'photo_id': photo_id}, function(data){
      lastRequestData = data;

      if(lastRequestData['link'] !== '' && lastRequestData['link'] !== null){
    
        var link_to_photo = $('<a target="_blank">View on Facebook</a>').attr('href', lastRequestData['link']).attr('id', 'view_on_facebook').addClass('button');
        $('#fb-container').find('a').remove();
        $('#fb-container').append(link_to_photo);
      }
    });
  }

  var resizeThumbsForWidth = function(width){
  
    if(width <= 368){
      $('ul.thumbs').removeClass('two_column three_column').addClass('four_column');
    }else if(width <= 498){
      $('ul.thumbs').removeClass('two_column four_column').addClass('three_column');
    }else {
      $('ul.thumbs').removeClass('three_column four_column').addClass('two_column');
    }
  }

  $(document).ready(function(){

    $('#main-image img:first').load(function(e){
      resizeThumbsForWidth(this.width);
    });

    $('.facebook-expand').live('click', function(e){
      e.preventDefault();

      $('#fb-container').fadeIn('fast');
      $('.facebook-expand').fadeOut('fast');
    });

    $('.facebook-close').live('click', function(e){
      e.preventDefault();

      $('#fb-container').fadeOut('fast');
      $('.facebook-expand').fadeIn('fast');
    });

    $('.image_link').click(function(e){
      e.preventDefault(); 
      var link = $(this);
      var image_url = link.attr('data-image-url');
      var photo_id = link.attr('data-photo-id');
      

      var image_container = $('#main-image-wrap');
      var current_big_image = image_container.find('img:first');

      if(current_big_image.attr('data-photo-id') !== photo_id){
        var image = current_big_image.clone().attr('src', image_url).attr('data-photo-id', photo_id);

        var fb_container = $('#fb-container');
        fb_container.hide();
        fb_container.find('a').remove();
        fb_container.append(yes_button).append(nevermind_button);
        $('.facebook-expand').fadeIn('fast');

        image_container.find('img:first').fadeOut('fast', function(){
          var old_image = $(this);
          old_image.detach().hide();
          $('#land_of_used_images').prepend(old_image);
          image_container.prepend(image);
          image.fadeIn('fast')
        });

        if($('#view_on_facebook').length === 1){
          $('#view_on_facebook').remove();
        }

        // resizeThumbsForWidth(image_width);
      }


    })

    $('#facebook_link').live('click', function(e){
      e.preventDefault();
      FB.getLoginStatus(function(response) {
        if (response.session) {
          // logged in and connected user, someone you know
          console.log('already logged in');
          console.log(response.session);
          postPhotoToFacebook();
        } else {
          // no user session available, someone you dont know
          console.log('not yet logged in');
          FB.login(function(response) {
            if (response.session) {
              console.log('logged in with session');
              console.log(response.session);
              if (response.perms) {
                console.log('and perms');
                console.log(response.perms);
                // user is logged in and granted some permissions.
                // perms is a comma separated list of granted permissions
                postPhotoToFacebook();
                } else {
                console.log('no perms');
                // user is logged in, but did not grant any permissions
              }
            } else {
              console.log('user failed to login');
              // user is not logged in
            }
          }, {perms:'publish_stream,user_photos'});


        }
      });
      
    })
  });
</script>

<div id='land_of_used_images' style="display:none;">

</div>
