<div id="contactheader">

<%= image_tag 'contact_rightinfo.png', :style => 'float:right;margin:-15px 20px 0 0;' %>


<%= form_for @contact do |form| %>
  <table border="0" cellpadding="0" cellspacing="0" width="480" class="form">
  <tr>
    <td width="265">
      <label>Your Name</label>
      <%= form.text_field :name, :class => 'form' %>
    </td>
    <td>
      <label>Your Email</label>
      <%= form.text_field :email, :class => 'form' %>
    </td>
  </tr>
  <tr>
    <td>
      <label>Your Phone Number</label>
      <%= form.text_field :phone, :class => 'form' %>
    </td>
    <td>
      <label>Type of Event</label>
      <%= form.text_field :event_type, :class => 'form' %>
    </td>
  </tr>
  <tr>
    <td>
      <label>Date of Event</label>
      <%= form.text_field :event_date, :class => 'form' %>
    </td>
    <td>
      <label>Your Budget</label>
      <%= form.text_field :budget, :class => 'form' %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <label>Additional Comments</label>
      <%= form.text_area :comments, :rows => '50', :cols => '40' %>
    </td>
  </tr>
  <tr><td colspan="2"><%= image_tag "inset_1px.png", :height => "2", :width => "480", :style => 'padding:20px 0 15px 0;' %></td></tr>
  <tr><td align="right" colspan="2"><%= image_submit_tag "button_submit.png" %></td></tr>
  </table>
<% end %>

<div style="clear:both;"></div>

</div>

