<!DOCTYPE html>
<html>
<head>
  <title>Make a Scene (Admin)</title>
  <%= stylesheet_link_tag 'jquery', 'jquery-ui', 'rails', 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="header-fixed">
    <div id="header-inside">
      <div id="header-container" class="container_16">
	<img src="/images/logo.png" alt="Make A Scene" id="logo" />
	<div id="menu">
          <img src="/images/menu_about.png" alt="About Make a Scene" />
          <img src="/images/menu_galleries.png" alt="Galleries" />
          <img src="/images/menu_contact.png" alt="Contact Us" />
        </div>
      </div>
    </div>
  </div>



  <div id="header-shade"><img src="/images/top_shade.png" alt="" /></div>
  
  <div id="content-container">
    <div id="content" class="container_16">
      <div id='admin'>
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        
        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>


<div id="footer-fixed"></div>


</body>
</html>

