<!DOCTYPE html>
<html>
<head>
  <title>Photobomb</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <header>
    <fb:login-button perms='publish_stream,user_photos'></fb:login-button>
  </header>
  
  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>

<%= yield %>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({appId: '120893377958437', status: true, cookie: true, xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      // A user has logged in, and a new cookie has been saved
    } else {
      // The user has logged out, and the cookie has been cleared
    }
  });
</script>

</body>
</html>
