<!DOCTYPE html>
<html>
<head>
  <title>Make a Scene</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'rails', 'application' %>
  <%= yield(:javascripts) %>
  <%= csrf_meta_tag %>
  <%= yield :meta %>
  <link  href="//fonts.googleapis.com/css?family=Josefin+Sans+Std+Light:regular&subset=latin" rel="stylesheet" type="text/css" >
  <%= yield :stylesheets %>
  
  <script src="/javascripts/cufon-yui.js" type="text/javascript"></script>
  <script src="/fonts/quicksand.font.js" type="text/javascript"></script>
  <script type="text/javascript">
			//Cufon.replace('h3'); 
  </script>
  
  
	<script type="text/javascript" src="/javascripts/jcarousellite_1.0.1.pack.js"></script>
	<script type="text/javascript" src="/javascripts/captify.tiny.js"></script>
	
	
	<script type="text/javascript">
		$(function() {
			$(".slider").jCarouselLite({
	    		btnNext: ".next",
	    		btnPrev: ".prev",
				auto: '5',
				scroll: 4,
	    		visible: 4,
	    		speed:1500,
	    		easing: "easeOutCubic"
			});
		});
	
		$(document).ready(function(){
			$('img.captify').captify({
				// all of these options are... optional
				// ---
				// speed of the mouseover effect
				speedOver: 'fast',
				// speed of the mouseout effect
				speedOut: 'normal',
				// how long to delay the hiding of the caption after mouseout (ms)
				hideDelay: 500,	
				// 'fade', 'slide', 'always-on'
				animation: 'slide',		
				// text/html to be placed at the beginning of every caption
				prefix: '',		
				// opacity of the caption on mouse over
				opacity: '0.7',					
				// the name of the CSS class to apply to the caption box
				className: 'caption-bottom',	
				// position of the caption (top or bottom)
				position: 'bottom',
				// caption span % of the image
				spanWidth: '100%'
			});
		});
	
	</script>
  
  
  
</head>
<body>

  <%= yield(:facebook_js) %>

  <div id="header-fixed">
    <div id="header-inside">
      <div id="header-container" class="container_16">
        <a href='/'><img src="/images/logo_sm.png" alt="Make A Scene" id="logo" /></a>
	<div id="menu">
          <a href="/faq.html"><img src="/images/menu_about.png" alt="About Make a Scene" /></a>
          <a href="<%= events_path %>">
            <img src="/images/menu_galleries.png" alt="Galleries" />
          </a>
          <a href="/contact"><img src="/images/menu_contact.png" alt="Contact Us" /></a>
        </div>
      </div>
    </div>
  </div>

  <div id="header-shade"><img src="/images/top_shade.png" alt="" /></div>
  
  <div id="content-container">
    <div id="content" class="container_16">
      <%= yield %>
    </div>
  </div>

<%= yield :footer %>

<% unless @disable_footer %>
  <div id="footer">
	<div id="footer-container" class="container_16">
	  <div class="section" style="width:340px;">
	    <img src="/images/title_footer_twitter.png" alt="Latest Twitter Updates"><br /><br /><br />

            <% recent_tweets.each do |tweet| %>
              <div class="footer-twitter-container">
                <div class="footer-twitter-post"><%= tweet.text %></div>
                <div class="footer-twitter-date">Posted on <%= DateTime.parse(tweet.created_at).strftime("%B %d, %Y") rescue '' %></div>
              </div>
            <% end %>
	    
	  </div>
	  <div class="section" style="width:350px;">
	    <img src="/images/title_footer_flickr.png" alt="Behind the Scene"><br /><br />
	    
<!-- Start of Flickr Badge -->

<div id="flickr_badge_uber_wrapper"><div id="flickr_badge_wrapper">
<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&display=latest&size=t&layout=x&source=user&user=56441595%40N04"></script>
</div></div>
<!-- End of Flickr Badge -->
	    
	  </div>
	  <div class="section">
	    <img src="/images/title_footer_connect.png" alt="Connect With Us"><br /><br />
	    <a href="http://www.facebook.com/makeascenetv" target="_blank"><img src="/images/footer_connect_fb.png" alt="Visit Us On Facebook" class="connect" /></a><br />
	    <a href="http://www.twitter.com/makeascenetv" target="_blank"><img src="/images/footer_connect_twitter.png" alt="Visit Us On Twitter" class="connect" /></a><br />
	    <img src="/images/footer_connect_phone.png" alt="Give Us a Ring" class="connect" /><br />
	  </div>
	  <div style="clear:both;"></div>
	  <div id="copyright"><a href="/">Home</a> &nbsp;|  <a href="/">About Us</a> &nbsp;|&nbsp;  <a href="/">Galleries</a> &nbsp;|&nbsp;  <a href="/">Contact Us</a> &nbsp; | &nbsp; &copy; 2010 Make a Scene<span>This has been a <strong>Make a Scene</strong> Production</span></div>
	</div>
  </div>
<% end %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5132048-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<%= yield :inline_js %>

</body>
</html>
