<!DOCTYPE html>
<html>
<head>
  <title>Make a Scene</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'rails', 'application' %>
  <%= yield(:javascripts) %>
  <%= csrf_meta_tag %>
  <%= yield :meta %>
  <link  href="//fonts.googleapis.com/css?family=Josefin+Sans+Std+Light:regular&subset=latin" rel="stylesheet" type="text/css" >
  <%= yield :stylesheets %>
</head>
<body>

  <%= yield(:facebook_js) %>

  <div id="header-fixed">
    <div id="header-inside">
      <div id="header-container" class="container_16">
        <a href='/'><img src="/images/logo_sm.png" alt="Make A Scene" id="logo" /></a>
	<div id="menu">
          <img src="/images/menu_about.png" alt="About Make a Scene" />
          <a href="<%= events_path %>">
            <img src="/images/menu_galleries.png" alt="Galleries" />
          </a>
          <img src="/images/menu_contact.png" alt="Contact Us" />
        </div>
      </div>
    </div>
  </div>

  <div id="header-shade"><img src="/images/top_shade.png" alt="" /></div>
  
  <div id="content-container">
    <div id="content" class="container_16">
      <%= yield %>
    </div>
  </div>

<%= yield :footer %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5132048-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<%= yield :inline_js %>

</body>
</html>
