<!DOCTYPE html>
<html>
<head>
  <title>Make a Scene</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'rails', 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :meta %>
  <link  href="//fonts.googleapis.com/css?family=Josefin+Sans+Std+Light:regular&subset=latin" rel="stylesheet" type="text/css" >
</head>
<body>

  <%= yield(:facebook_js) %>

  <div id="header-fixed">
    <div id="header-inside">
      <div id="header-container" class="container_16">
	<img src="/images/logo_sm.png" alt="Make A Scene" id="logo" />
	<div id="menu">
          <img src="/images/menu_about.png" alt="About Make a Scene" />
          <img src="/images/menu_galleries.png" alt="Galleries" />
          <img src="/images/menu_contact.png" alt="Contact Us" />
        </div>
      </div>
    </div>
  </div>

  <div id="header-shade"><img src="/images/top_shade.png" alt="" /></div>
  
  <div id="content-container">
    <div id="content" class="container_16">
      <%= yield %>
    </div>
  </div>

<%= yield :footer %>


</body>
</html>
